@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
    --color-bg-dark: #361999;
    --color-bg-light: #78fff1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(
        to top right,
        var(--color-bg-dark),
        var(--color-bg-light)
    );
    color: #fff;
    display: flex;
    font-family: 'Times New',sans-serif;
    font-size: 24px;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    flex-direction: column;

}

h1{   
    text-align: center;
    clear: both;
    
}

.form, .user-panel {
    backdrop-filter: blur(5px);
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.35)
    );

    h4{
        margin-bottom: 20px;
    }

    border-radius: 15px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
    max-height: 100%;
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 36px 24px;
    position: relative;
    
    text-align: center;
    width: 100%;

    a{
        padding: 10px;
        text-decoration: none;
        color: white;
        display: block;
        margin-top:20px;
    }
        
    .form__icon {
        border: solid 3px rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.3);
        height: 72px;
        margin: 0 auto 24px;
        overflow: hidden;
        position: relative;
        width: 72px;
    }

    .form__icon:before {
        background: rgba(255, 255, 255, 0.7);
        bottom: 0;
        border-radius: 50%;
        content: "";
        display: block;
        height: 24px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 48px;
    }

    .form__icon:after {
        background: rgba(255, 255, 255, 0.7);
        bottom: 45%;
        border-radius: 50%;
        content: "";
        display: block;
        height: 24px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 24px;
    }

    .form__input-container {
        margin-bottom: 32px;
        position: relative;
    }

    .form__input,
    .form__button {
        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.25)
        );
        border: none;
        border-radius: 18px;
        box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
        color: #fff;
        font-size: 24px;
        outline: transparent;
        overflow: hidden;
        position: relative;
    }

    .form__input {
        padding: 12px 24px;
        width: 100%;
    }


    .form__input:focus + .form__input-label,
    .form__input:not(:placeholder-shown) + .form__input-label {
        left: 100%;
        opacity: 0;
    }

    .form__input-label {
        cursor: text;
        left: 24px;
        font-style: italic;
        opacity: 0.4;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: left 0.2s ease-in, opacity 0.2s ease-in;
    }

    .form__spacer {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
        display: block;
        height: 2px;
        margin: 32px auto;
        width: 80%;
    }

    .form__button {
        cursor: pointer;
        padding: 12px 48px;
    }

    .alert_container{
        clear: both;
        display: block;
        margin-top: 40px;

        h4{
            text-align: center;
        }
    }

}

.h{
    h1{
        text-align: center;
    }
}

.user-panel{
    clear: both;
    min-height: 600px;
    min-width: 500px;
    display: block;

    form{
        margin-top: 20px;    
        justify-content: center;
        align-items: center;
        display:none
    }

    .form__button{
        clear: both;
        margin-top: 30px;
    }

}
