@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --color-bg-dark: #991999;
  --color-bg-light: #93ff78;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Times New", sans-serif;
}

body {
  transform: scale(0.8);
  align-items: center;
  background: linear-gradient(to top right, var(--color-bg-dark), var(--color-bg-light));
  display: flex;
  font-size: 24px;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
}
@media (max-width: 900px) {
  body {
    transform: scale(0.5);
  }
}

h1 {
  text-align: center;
  clear: both;
  color: #fff;
  margin-bottom: 10px;
}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  position: relative;
}
.container form,
.container .authenticationForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: inherit;
}
.container form .form__input-container,
.container .authenticationForm .form__input-container {
  width: calc(50% - 20px);
  margin: 20px 0 12px 0;
}
.container form .form__input-container .form__input:not(:-moz-placeholder-shown) + .form__input-label, .container .authenticationForm .form__input-container .form__input:not(:-moz-placeholder-shown) + .form__input-label {
  left: 100%;
  opacity: 0;
  top: -40px;
}
.container form .form__input-container .form__input:focus + .form__input-label,
.container form .form__input-container .form__input:not(:placeholder-shown) + .form__input-label,
.container .authenticationForm .form__input-container .form__input:focus + .form__input-label,
.container .authenticationForm .form__input-container .form__input:not(:placeholder-shown) + .form__input-label {
  left: 100%;
  opacity: 0;
  top: -40px;
}
.container form .form__input-container .form__input,
.container .authenticationForm .form__input-container .form__input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  text-align: center;
  font-size: large;
}
.container form .form__input-container .form__input-label,
.container .authenticationForm .form__input-container .form__input-label {
  cursor: text;
  left: 24px;
  font-style: italic;
  opacity: 0.4;
  position: relative;
  top: -40px;
  transform: translateY(-50%);
  transition: left 0.2s ease-in, opacity 0.2s ease-in;
}
.container form .auth,
.container .authenticationForm .auth {
  clear: both;
  width: 100%;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container form .auth .form__input-container,
.container .authenticationForm .auth .form__input-container {
  left: 150px;
  position: relative;
  text-align: left;
}
.container .authenticationForm {
  clear: both;
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  flex-direction: column;
}
.container .authenticationForm .form__input-container {
  position: inherit;
  align-items: center;
  width: 400px;
}
.container .authenticationForm h4 {
  max-width: 400px;
  position: inherit;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: 16;
  text-align: left;
}
.container a {
  clear: both;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: block;
  margin-top: 20px;
}
.container .form__button {
  clear: both;
  width: 97%;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 3vh;
  border-radius: 5px;
  font-weight: bold;
}

.alert_container {
  clear: both;
  display: block;
  margin-top: 40px;
}
.alert_container h4 {
  text-align: center;
  font-size: small;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */